  /* Picture */
  .content .word-photo {
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: auto;   
    margin-right: auto; 
  }

  .content .word-photo .wrapper {
    position: absolute;
    
    max-height: 300px;
    min-height: 40px;
    
    box-sizing: border-box;
    margin: auto;

    overflow: hidden;

    left: 50%;
    top: 50%;

    box-shadow: 0 0 5px 5px #0d0d0d;

    transform: translate3d(-50%, -50%, 0);
    cursor: pointer;

  }


  .content .word-photo .wrapper::before {
    content: "";
    display: block;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 0px;
    box-sizing: border-box;

    padding: 0 40px;
    opacity: 0;

    transition: height 0.3s linear, opacity 0.3s linear;

    z-index: 1;
    background-color: #232323c2;

    color: white;
    font-size: 1.5em;
    font-family: 'AmaticSC-Bold';
    line-height: 30px;
  }
  
  .content .word-photo img {
    max-width: 300px; 
    min-width: 150px;

    max-height: 300px;

    width: auto;
    height: auto;
    
    margin:auto;
    display:block;
    cursor: pointer;
  }

  .content .word-photo .wrapper:hover::before {
    content: "Zmień ilustrację";
    height: 30px;
    opacity: 1;
  }

  .content .word-photo .wrapper:hover .fas.fa-pencil-alt.pencil-icon {
      opacity: 1;
      height: 14px;
  }

  .word-photo .wrapper .fas.fa-pencil-alt.pencil-icon {
      display: inline-block;
      position: absolute;

      top: unset;
      right: unset;
      bottom: 0px;
      left: 5px;
      height: 0;

      z-index: 2;
      opacity: 0;

      transition: opacity 0.2s ease-out, height 0.3s linear;

      color:white;
      font-size: 1.2em;
  }

  .word-photo .wrapper .empty {
    width: 300px;
    height: 200px;
  }

  .word-photo .empty::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    transform: rotate(33.5deg) translate3d(29px,103px,0);    
    width: 380px;
    height: 2px;

    border-bottom: 1px solid #232323;

  }

  .word-photo .empty::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    transform: rotate(146.5deg) translate3d(-86px,59px,0);
    width: 380px;
    height: 2px;

    border-bottom: 1px solid #232323;

  }