.picture-add {
    position: relative;
    width: inherit;
    height: inherit;
    margin: 0 auto;

    box-sizing: border-box;

    z-index: 2;
    transform: scale(1);
    transition: transform 0.25s linear;

    background-color: #232323;
    box-shadow: 0 0 5px 7px #232323;
}

.picture-add.hidden {
    transform: scale(0);
}

.picture-add .fancy-text {
    color: white;
    text-align: center;
    padding: 15px;

    border-bottom: 1px solid #3C3C3C;
}


.picture-add .picture-link {
    display: inline-block;
    max-width: 100%;

    padding: 4px 24px 4px 0px;

    border: none;
    border-bottom: 1px solid #3C3C3C;
    outline: none;

    background-color: #232323;

    overflow: hidden;
    text-overflow: ellipsis;

}

.picture-add-text {
    padding: 30px 10px;

    font-size: 1.3em;
    font-family: 'Open Sans Light';
    color: white;
    text-align: center;
}

.picture-link {
    position: absolute;
    left:50%;
    transform: translateX(-50%);

    font-size: 1.5em;
    font-family: 'Open Sans';
    color: white;

}

.picture-add .far {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 2em;

    cursor: pointer;
}

.picture-add .far.fa-check-circle {
    right: 60px;
}

.picture-add .far.fa-times-circle {
    right: 20px;
    
}