.words-list {
  margin-top: 177px;
}

.words-list .top-panel {
  position: fixed;
  top: 0;
  padding-top: 17px;
  left: 360px;
  right: 380px;
  z-index: 10000;
  background: white;
}

.letter-category:first-child {
  position: relative;
  top: -177px;
}

.letter-category:first-child ~ .letter-category {
  margin-top: -177px;
}

.letter-category:first-child + .letter-category {
  margin-top: -354px;
}

.letter-category::before {
  content:"";
  display:  block;
  height: 177px;
}

.delete-word {
  position: absolute;
  right: 15px;
  top: 6px;
  cursor: pointer;
  font-size: 1.2em;
}
