.slideshow-block {
    position: relative;

    width: 100%;
    height: 100%;
    min-height: 200px;
}

.slideshow-block .slideshow-picture-block {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    padding: 0 20px;
    opacity: 0;
    position: absolute;
    top: 0;
}

.slideshow-block .slideshow-picture-block.show {
    opacity: 1;
    transition: all 1s linear;
}

.slideshow-picture-block .picture-caption {
    position: absolute;
    bottom: -5px;
    right: 50%;
    transform: translateX(50%);


    text-decoration: none;
    color: #232323;
    font-size: 1.4em;

}

.slideshow-picture-link {
    display: block;
    width: 100%;
    height: 100%;
}

.slideshow-picture-block .slideshow-picture {
   
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    z-index: 2;

    padding-bottom: 20px;

    transform: translateY(-50%) translateX(-50%);

    max-height: 100%;
    max-width: 100%;

    cursor: pointer;

}


.slideshow-block .display-container {
    position: absolute;
    width: 100%;
    height: 30px;

    top: 50%;
    transform: translateY(-50%);
}

.slideshow-block .fas {
    position: absolute;

    color: block;
    font-size: 30px;

    cursor: pointer;
}

.slideshow-block .fa-chevron-left {
    left: 0;
}

.slideshow-block .fa-chevron-right {
    right: 0;
}
