* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  font-size: 12px;
  color: #0d0d0d;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('fonts/OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('fonts/OpenSans-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('fonts/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans BoldItalic';
  src: url('fonts/OpenSans-BoldItalic.ttf');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'RockSalt-Regular';
  src: url('fonts/RockSalt-Regular.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AmaticSC-Regular';
  src: url('fonts/AmaticSC-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmaticSC-Bold';
  src: url('fonts/AmaticSC-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}


/* Word searching [navigation panel] */

.search-input {
  position: relative;
}

.search-input .main-search {
  padding: 0 32px;
  box-sizing: border-box;

  border-radius: 7px;
  outline: none; /* TODO: zastanowic sie czy nie dac jakiegos outline */

  line-height: 100%;
  text-align: center;
  font-family: 'Open Sans';
}

.navigation-panel .search-input {
  width: 192px;
  margin: 12px 40px 28px 40px;
}

.navigation-panel .search-input .main-search {
  width: inherit;
  height: 24px;

  border: none;
}

.search-input .search-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: scaleX(-1) translateY(-50%) translateX(50%);
  font-size: 10px;
  line-height: 100%;
  color: #a8a8a8;
}

.main-search::placeholder{
  color: #a8a8a8;
  font-style: italic;
}

/* The white circle plus - add icon */

.add-icon {
  display: inline-block;
  width: 12px;
  height: 12px;

  padding: 4px;

  line-height: 12px;

  border: 2px solid white; 
  border-radius: 16px;
  
  color: white;
  font-size: 13px;

  cursor: pointer;
}

.add-icon.disabled {
  pointer-events: none;
  color: #00000045;
  border-color: #00000045;
}


.categories {
  list-style-type: none;
}


.category-link {
  text-decoration: none;
  color: white;
}


/* Text with categories in the list and with the text in the categories search */

.category-search {
  line-height: 38.6px;
  box-sizing: border-box;
  letter-spacing: 1.5px;

  font-family: 'Open Sans';
}

.navigation-panel .category-search {
  font-size: 1.2em;
}

.category-link .category-text, .navigation-panel .all-words-link .category-link {
  line-height: 38.6px;
  font-size: 1.2em;
  letter-spacing: 1.5px;
}

.category-text {
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  cursor: pointer;
}



/* Right side black boxes */ 

.right-panel {
  position: fixed;
  right: 0;
  top: 0;
  display: inline-block;
  width: 296px;
  height: 100%;

}

.right-panel .black-box {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 272px;
  height: 282px;
  box-sizing: border-box;

  margin: 0 19px;
  padding: 27px 24px 27px 24px;

  background-color: #232323;
  color: white;
  font-family: 'Open Sans';
}

.right-panel .black-box .main-navigation-item {
  background-color: transparent;
  padding: 0;
}

.right-panel .black-box.upper-box {
  top: 177px; /* Same upper bound as Main Page button */
}

.right-panel .black-box.bottom-box {
  top: 532px; 
}

.box-title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);

  width: 192px;
  height: 48px;

  line-height: 48px;
  font-size: 2em;
  text-align: center;
  font-family: 'AmaticSC-Bold';
  letter-spacing: 4px;
}

.right-panel .black-box .box-title {
  background-color: #425CBB;

  color: white;
}

.right-panel .black-box .upper-part {
  position: relative;

  width: 224px;
  padding: 14px 0;

  border-bottom: 1px solid #3C3C3C;

  text-align: center;
  font-family: 'Open Sans';
  font-size: 1.33em;

}

.right-panel .black-box .bottom-part {
  display: flex;
  flex-direction: column;

  padding: 2.5px 0;
  overflow: hidden;
}

.right-panel .black-box .bottom-part .scrollbar-container {
  height: 200px;
}

.right-panel .black-box .add-category + .scrollbar-container {
  height: 150px;
}

.right-panel .black-box .bottom-part .black-box-photo {
  position: relative;
  width: 224px;
  height: 80px;
  margin: 6.5px 0;    
}

.right-panel .black-box .bottom-part .black-box-photo img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.right-panel .black-box .bottom-part .black-box-text {
  max-height: 100%;
  margin: auto;
  text-align: center;
  font-size: 1.33em;

  overflow: hidden;
  text-overflow: ellipsis;
}

/* Black box - categories list on words page */
.right-panel .black-box .fancy-text {
  font-size: 1.1em;

  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-panel .black-box .category-text {
  max-width: 100px;
}

.right-panel .black-box .add-icon {
  /* position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%); */
  vertical-align: middle;

}

.right-panel .black-box .category-link {
  height: inherit;
  /* margin-left: 24px; */
}

.right-panel .black-box .panel-item {
  position: relative;
  width: inherit;
  height: 38.6px;

  /* margin: 0 10px; */
  border-bottom: 1px solid #3C3C3C;
}

.right-panel .categories .far.fa-trash-alt {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Position of the fancy button in black boxes */

.right-panel .black-box .fancy-button {
  position: absolute;
  bottom: 18px;
  left: 50%;

  transform: translateX(-50%);
}

/* Parts that may be reused - written with AmaticSC font */

.fancy-text {
  font-family: 'AmaticSC-Bold';
  font-size: 2em;
  letter-spacing: 1.6px;
}

.fancy-button {
  height: 32px;
  box-sizing: border-box;

  padding-left: 17px;
  padding-right: 48px;
  background-color: #777;

  line-height: 32px;
  text-align: right;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 1.1em;
  white-space: nowrap;
}

.fancy-button .fas.fa-arrow-circle-right {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%) translateX(50%);
  font-size: 20px;
}

.not-selectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


/******** Content ********/

.content {
  display: block;

  margin: 17px 384px 38px 360px;
  min-width: 540px;

}

/* Top panel */

.top-panel {
  position: relative;
}

.top-panel .main-page.panel-title {
  font-family: 'RockSalt-Regular';
  letter-spacing: 8px;
  text-shadow: 8px 8px 4px rgba(0,0,0,0.72);
}

.top-panel .panel-title {
  position: relative;

  display: block;
  height: 56px;
  padding: 5px 0px;
  box-sizing: border-box;

  background-color: #425CBB;

  text-align: center;
  line-height: 46px;
  color: white;
  font-size: 2.4em;
  letter-spacing: 2px;
  font-family: 'AmaticSC-Bold'; 

}


.top-panel .panel-title .small-letters-title {
  font-size: 0.6em;
}

.top-panel .panel-actions {
  display: block;
  height: 24px;

  background-color: #232323;
  font-size: 0;

  list-style-type: none;
}

.top-panel .far.fa-trash-alt {
  /* position: absolute;
  top: 50%; */

  /* Value calculated so, that it is in the same 
  line as the trashes under it - for translations */
  /* right: 50px;  */

  font-size: 0.8em;
  transform: translateY(-50%) translateX(50%);

  cursor: pointer;
}


/* Main Content Block */

.content-block {
  position: relative;

  box-shadow: 0 0 5px rgba(0,0,0,0.65);

}

/* Description of each of the words in the category for certain letter */
/* Word header */

.letter-word-description {
  margin: 8px 0;
}

.letter-word-description .word-header {
  position: relative;

  padding: 2px 10px;
  background-color: rgba(247,247,247,0.4);
  
  font-size: 1.1em;
  font-family: 'Open Sans BoldItalic';

}

.letter-word-description .word-header .word-header-link {
  display: block;
  text-decoration: none;
  color: #0d0d0d;

  overflow: hidden;
  text-overflow: ellipsis;
  
}


/* Descriptions with words translations */

.categories-content .word-descriptions {
  /* Calculate the width taking into account the greyed area:
     scroll (~20px) + right margin (16px) + greyed area (60px) */
  width: calc(100% - 96px);
  padding: 2px 10px;
}

.word-descriptions {
  /* Calculate the width taking into account the icons */
  width: calc(100% - 10px);
  padding: 2px 0px 2px 0px;
  
}

.word-translation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;  
}

.word-translation .translation-category {
  position: relative;
  flex-basis: 100%;
  width: inherit;
  
  padding: 2px 0;

  font-family: 'Open Sans Bold';
  color: #425CBB;
}

.word-translation .original-word, .word-translation .translated-word{
  display: inline-block;
  width: 50%;
  box-sizing: border-box;

  flex: 1 1 auto;
  padding: 5px;

    overflow: hidden;
  text-overflow: ellipsis;
}

.word-translation .original-word.translation-header {
  color: #A2A2A2;
}

.word-translation .translation-header {
  font-family: 'Open Sans Bold';

  overflow: hidden;
  text-overflow: ellipsis;
}


/* Edit icon */

.fas.fa-pencil-alt.pencil-icon {

  font-size: 0.8em;
  transform: translateY(-50%) translateX(50%);
  cursor: pointer;
}

.word-translation .fas.fa-pencil-alt.pencil-icon {
  position: absolute;
  top: 50%;
  right: 0;

  color: #0d0d0d;
  font-size: 12px;
}

.header-toolbar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid #232323;
  padding: 0 10px;
}

.panel-title .header-toolbar .action-icon {
  margin-right: 20px;
  margin-top: 28px;
  font-size: 0.6em;
}
