* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #0d0d0d;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/OpenSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('fonts/OpenSans-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('fonts/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans BoldItalic';
    src: url('fonts/OpenSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'RockSalt-Regular';
    src: url('fonts/RockSalt-Regular.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AmaticSC-Regular';
    src: url('fonts/AmaticSC-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmaticSC-Bold';
    src: url('fonts/AmaticSC-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

/* Navigation Panel */

.navigation-panel {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 272px;
    box-sizing: border-box;    
    background-color: #232323;
}

/* Logo */

.navigation-panel .logo {
    display: block;
    min-height: 144px;
    width: 272px;

    background-repeat: no-repeat;
    background: url('images/logo.png');
    background-size: 272px 144px;

    border-bottom: 1px solid #3C3C3C;
}

/* Main page button */

.navigation-panel .main-page-button {
    display: block;
    height: 40px;
    width: 192px;
    
    box-sizing: border-box;

    margin: 8px 40px 0 40px; 

    background-color: #3c3c3c;

    line-height: 40px;
    text-align: center;
    color: white;    
    letter-spacing: 2.4px;
    font-size: 1.4em;
    text-decoration: none;

}

/* Word searching */

.search-input {
    position: relative;
}

.search-input .main-search {
    padding: 0 32px;
   
    border-radius: 7px;
    outline: none; /* TODO: zastanowic sie czy nie dac jakiegos outline */

    line-height: 100%;
    text-align: center;
    font-family: 'Open Sans';
}

.navigation-panel .search-input {
    width: 192px;
    margin: 12px 40px 28px 40px;
}

.navigation-panel .search-input .main-search {
    width: inherit;
    height: 20px;

    border: none;
}

.search-input .search-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: scaleX(-1) translateY(-50%) translateX(50%);
    font-size: 10px;
    line-height: 100%;
    color: #a8a8a8;
}

 .main-search::placeholder{
    color: #a8a8a8;
    font-style: italic;
}

/* Categories */


.navigation-panel .categories-header {
    position: relative;

    width: inherit;
    height: 40px;
    box-sizing: border-box;

    padding: 0 40px;

    background-color: #272A35;
    text-align: center;

}

.navigation-panel .categories-header .categories-header-text{
    line-height: 40px;
    color: #ffffff;
    font-family: 'Open Sans Semibold';
    letter-spacing: 2.4px;
    font-size: 1.2em;
}

/* The white circle plus - add icon */

.add-icon {
    display: block;
    width: 12px;
    height: 12px;

    padding: 4px;

    line-height: 12px;

    border: 2px solid white; 
    border-radius: 16px;
    
    color: white;
    font-size: 13px;

    cursor: pointer;
}

.navigation-panel .categories-header .add-icon {

    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);

}

.categories {
    
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navigation-panel .categories {
    flex-grow: 1;
    min-height: 40px;
}

.navigation-panel .panel-item {
    position: relative;
    height: 38.6px;
    margin: 0 39.5px 0 40px;

}

.navigation-panel .categories .panel-item {
    margin: 0 30px 0 40px;
    border-bottom: 1px solid #3C3C3C;

}

.navigation-panel .category-link {
    display: block;
    height: inherit;
    padding: 0 24px;
}

.category-link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.navigation-panel .categories-item:hover {
    background-color: #3C3C3C;
}


/* Emphasizing the "wszystkie słówka" text */

.navigation-panel .all-words-link .category-link {
    padding: 0;

    text-align: center;
    font-family: 'Open Sans Bold';
    
}

/* Text with categories in the list and with the text in the categories search */

.category-link .category-text, .navigation-panel .all-words-link .category-link, .navigation-panel .category-search {
    line-height: 38.6px;
    font-size: 1.2em;
    letter-spacing: 2.4px;

}

.category-text {
    display: inline-block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Category search */

.navigation-panel .category-search {
    border: none;
    outline: none;
    border-bottom: none;
    background-color: inherit;
}


.navigation-panel .category-search::placeholder {
    letter-spacing: 0;
    font-style: italic;
    color: rgba(255,255,255,0.37);
    text-transform: none;
}


/* The number of words in each of the categories */

.navigation-panel .categories-item .number-of-words {
    position: absolute;
    top: 50%;
    right: 4px;

    padding: 1px 4px;
    border-radius: 6px;

    transform: translateY(-50%);
    background-color: #0d0d0d;

    font-size: 0.8em;
}

/* Buttons on the bottom of panel */


.navigation-panel .bottom-button {
    display: inline-block;
    height: 30px;
    width: 120px;
    box-sizing: border-box;

    margin: 48px 8px 8px 8px;

    background-color: #3c3c3c;

    line-height: 30px;
    text-align: center;
    color: white;    
    letter-spacing: 2.4px;
    text-decoration: none;
    font-size: 1.4em;
}



/* Right side black boxes */ 

.right-panel {
    position: fixed;
    right: 0;
    top: 0;
    display: inline-block;
    width: 296px;
    height: 100%;

}

.right-panel .black-box {
    position: absolute;

    display: flex;
    flex-direction: column;

    width: 272px;
    height: 282px;
    box-sizing: border-box;

    margin: 0 19px;
    padding: 27px 24px 54px 24px;

    background-color: #232323;
    color: white;
    font-family: 'Open Sans Light';
}

.right-panel .black-box.upper-box {
    top: 177px; /* Same upper bound as Main Page button */
}

.right-panel .black-box.bottom-box {
    top: 532px; 
}

.box-title {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);

    width: 192px;
    height: 48px;

    line-height: 48px;
    font-size: 2em;
    text-align: center;
    font-family: 'AmaticSC-Bold';
    letter-spacing: 4px;
}

.right-panel .black-box .box-title {
    background-color: #425CBB;

    color: white;
}

.right-panel .black-box .upper-part {
    position: relative;

    width: 224px;
    padding: 14px 0;

    border-bottom: 1px solid #3C3C3C;

    text-align: center;
    font-family: 'AmaticSC-Regular';
    font-size: 2em;
    letter-spacing: 1px;

}

.right-panel .black-box .bottom-part {
    display: flex;
    flex-direction: column;
    height: 140px;

    padding: 2.5px 0;
    
}

.right-panel .black-box .bottom-part .black-box-photo {
    position: relative;
    width: 224px;
    height: 80px;
    margin: 6.5px 0;    
}

.right-panel .black-box .bottom-part .black-box-photo img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.right-panel .black-box .bottom-part .black-box-text {
    max-height: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.33em;
}

/* Black box - categories list on words page */
.right-panel .black-box .fancy-text {
    font-size: 1.1em;
}

.right-panel .black-box .category-text {
    max-width: 100px;
}

.right-panel .black-box .upper-part .add-icon {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);

}

.right-panel .black-box .category-link {
    height: inherit;
    margin-left: 24px;
}

.right-panel .black-box .panel-item {
    position: relative;
    width: inherit;
    height: 38.6px;

    margin: 0 30px;
    border-bottom: 1px solid #3C3C3C;
}

.right-panel .categories {
    max-height: 160px;
    margin-bottom: -24px;
}

.right-panel .categories .far.fa-trash-alt {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Position of the fancy button in black boxes */

.right-panel .black-box .fancy-button {
    position: absolute;
    bottom: 18px;
    left: 50%;

    transform: translateX(-50%);
}

/* Parts that may be reused - written with AmaticSC font */

.fancy-text {
    font-family: 'AmaticSC-Bold';
    font-size: 2em;
    letter-spacing: 1.6px;
}

.fancy-button {
    width: 192px;
    height: 32px;
    box-sizing: border-box;

    padding-right: 48px;
    background-color: white;

    line-height: 32px;
    text-align: right;
    color: #232323;
    text-decoration: none;
    font-family: 'AmaticSC-Bold';
    font-size: 1.8em;
}

.fancy-button .fas.fa-play-circle {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%) translateX(50%);
    font-size: 24px;
}

.not-selectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}


/******** Content ********/

.content {
    display: block;

    margin: 17px 384px 38px 360px;
    min-width: 540px;

}

/* Top panel */

.top-panel {
    position: relative;
}

.top-panel .main-page.panel-title {
    font-family: 'RockSalt-Regular';
    letter-spacing: 8px;
    text-shadow: 8px 8px 4px rgba(0,0,0,0.72);
}

.top-panel .panel-title {
    position: relative;

    display: block;
    height: 56px;


    background-color: #425CBB;

    text-align: center;
    line-height: 56px;
    color: white;
    font-size: 2.4em;
    letter-spacing: 2px;
    font-family: 'AmaticSC-Bold'; 
    text-shadow: 4px 4px 4px rgba(0,0,0,0.65);

}


.top-panel .panel-title .small-letters-title {
    font-size: 0.6em;
}

.top-panel .panel-actions {
    display: block;
    height: 24px;

    background-color: #232323;
    overflow: hidden;
    font-size: 0;

    list-style-type: none;
}

.top-panel .far.fa-trash-alt {
    position: absolute;
    top: 50%;

    /* Value calculated so, that it is in the same 
    line as the trashes under it - for translations */
    right: 50px; 

    font-size: 0.8em;
    transform: translateY(-50%) translateX(50%);

    cursor: pointer;
}

.top-panel .panel-actions .content-panel-item {
    display: inline-block;
    min-width: 120px;
    height: inherit;
    box-sizing: border-box;
    
    line-height: 24px;
    vertical-align: top;

    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    white-space: nowrap;

    border-right: 1px solid #3C3C3C;

    cursor: pointer;
}

.top-panel .panel-actions .content-panel-item:hover {
    background-color: #3c3c3c;
}

/* Letter index in top panel */

.letter-index {
    display: flex;
    flex-direction: row;

    padding: 5px 20px;

    list-style-type: none;
}

.letter-index .letter-index-item {
    display: inline-block;
    flex: 1;
    text-align: center;
}

.letter-index .letter-index-item {
    display: inline-block;
    flex: 1;
    text-align: center;
}

.letter-index .letter-index-item .letter-index-link {
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: 'Open Sans Bold';
    color: #0d0d0d;
}

.letter-index .letter-index-item .letter-index-link.deactivated-link {
    cursor: default;
    pointer-events: none;
    
    color: #00000036;
}

/* Category search in top panel */

.top-panel .search-input {
    min-width: 240px;
    height: 20px;
    width: 30%;
    margin: auto;

}
.top-panel .search-input .main-search {
    width: 100%;
    height: inherit;
    border: 1px solid #a8a8a8;
}

/* Select words button in top panel of Categories */

.select-words {
    position: absolute;
    right: 20px;
    bottom: 0;

    width: 124px;
    height: 20px;
}

.select-words-button {
    display: inline-block;
    height: inherit;

    border: none;
    outline: none;

    cursor: pointer;
}

.select-words-text {
    width: 90%;

    background-color: #425CBB;

    color: white;
    font-size: 0.9em;
    letter-spacing: 0.7px;

}

.select-words-arrow {
    position: relative;
    float: right;
    width: 10%;

    background-color: #232323;
}

/* White arrow - triangle, on the button */

.select-words-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);

    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  
    border-top: 5px solid white;
}

/* Menu that shows up after the arrow button click */

.select-words .select-words-menu {
    display: none;  /* comment to show */

    position: absolute;
    width: inherit;
    padding: inherit;

    z-index: 2;
    list-style-type: none;

    background-color: #232323;
}

.select-words .select-words-menu .menu-item {
    height: 20px;
    box-sizing: border-box;
    padding: 0 5px;

    border-top: 1px solid #3C3C3C;

    line-height: 20px;
    font-size: 0.9em;
    letter-spacing: 0.7px;
    color: white;

    cursor: pointer;
}

.select-words .select-words-menu .menu-item:hover {
    background-color: #3c3c3c;
}

.number-of-selected-words {
    position: absolute;
    right: 0;
    width: inherit;
    height: 20px;

    z-index: 1;

    font-family: 'Open Sans Bold';
    letter-spacing: 4px;
    font-size: 9px;
    text-align: center;
    line-height: 20px;
    white-space: nowrap;
    overflow: visible;
}

/* Main Content Block */

.content-block {
    position: relative;

    box-shadow: 0 0 5px rgba(0,0,0,0.65);

}

.categories-content.content-block  {
    width: calc(100% - 40px);

    /* Top content margin (17px) + fixed top panel height (132px)
        + margin-top (20px) + bottm space (38px, accordingly to 
        "Konto / Wyloguj" buttons = 207px */
    min-height: calc(100% - 207px); 
    margin: 20px;

}

/* The grey tape through the block */
.categories-content.content-block::before {
    content: "";

    position: absolute;
    bottom: 0;
    top : -20px;
    right: 30px;

    width: 60px;
    background-color: rgba(247,247,247,0.4);
}


/* Block with selected letter */

.letter-category {
    padding: 10px 0;
    background-color: white;

}

.letter-category .letter-header {
    position: relative;
    left: -10px;
    width: 96px;
    height: 32px;
    box-sizing: border-box;

    padding: 0 20px;

    background-color: #A2A2A2;

    line-height: 32px;
    color: white;
    font-family: 'Open Sans Bold';
    font-size: 1.8em;
}

.letter-category .letter-header::before {
    content: "";
    position: absolute;
    left: 0;

    width: inherit;
    height: inherit;

    z-index: -1;
    
    box-shadow: -6px 5px 5px rgba(0,0,0,0.65);
}

/* Description of each of the words in the category for certain letter */
/* Word header */

.letter-word-description {
    margin: 8px 0;
}

.letter-word-description .word-header {
    position: relative;

    padding: 2px 10px;
    background-color: rgba(247,247,247,0.4);
    
    font-size: 1.1em;
    font-family: 'Open Sans BoldItalic';

}

.letter-word-description .word-header .word-header-link {
    text-decoration: none;
    color: #0d0d0d;
    
}

/* Checkboxes */

.checkbox-container {
    position: absolute;
    display: block;

    width: 60px;
    height: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;

}

.letter-word-description .word-header .checkbox-container {
    right: 60px;
    top: 50%;

    transform: translateX(50%) translateY(-50%);
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);

    height: 16px;
    width: 16px;

    background-color: #dedede;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #cecccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #425CBB;
    border: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 5.75px;
    top: 3.2px;
    width: 3.2px;
    height: 6.4px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Descriptions with words translations */

.categories-content .word-descriptions {
    /* Calculate the width taking into account the greyed area:
       scroll (~20px) + right margin (16px) + greyed area (60px) */
    width: calc(100% - 96px);
    padding: 2px 10px;

}

.word-translation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

.word-translation .translation-category {
    position: relative;
    flex-basis: 100%;
    
    padding: 2px 0;

    font-family: 'Open Sans Bold';
    color: #425CBB;

}

.word-translation .original-word, .word-translation .translated-word{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;

    flex: 1 1 auto;
    padding: 5px;
}

.word-translation .original-word.translation-header {
    color: #A2A2A2;
}

.word-translation .translation-header {
    font-family: 'Open Sans Bold';
}

/* Content of Main page */

.statistics-container {
    display: flex;
    flex-direction: column;

    /* 100% - top margin (17px) top panel (80px) - bottom (38px) */
    height: calc(100% - 135px);
    box-sizing: border-box;
    padding: 24px 0;
}

.statistics-container .content-block {
    margin: 24px;
    padding: 44px 24px 60px 24px;
}

.words-statistics {
    display: flex;
    justify-content: space-around;    
    flex: 1;

    min-height: 124px;

}

.words-statistics .last-added-block, .words-statistics .hard-words-block {
    position: relative;
    display: flex;
    flex: 1;
    max-width: 250px;
}

.progress-block {
    flex: 1;
}

.statistics-container .box-title {
    background-color: #0d0d0d;
    color: white;
}

.list-of-words {
    display: flex;
    flex-direction: column;

    width: 192px;
    margin: 0 auto;

    font-size: 1.2em;
    letter-spacing: 3px;

    list-style-type: none;
    overflow: hidden;
}

.list-of-words li {
    display: block;
    flex: 1;
    
}

.list-of-words .link-to-word {
    text-decoration: none;
    color: #0d0d0d;
}

.words-statistics .fancy-button {
    position: absolute;

    bottom: 12px;
    left: 50%;

    transform: translateX(-50%);

    background-color: #425CBB;
    color: white;
    
}

.words-statistics .hard-words-block .fancy-button {
    width: 100px;

    padding: 0;
    text-align: center;
}

/* Word page */

.word-content.content-block {
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 10px;

    /* Top content margin (17px) + fixed top panel height (80px)
    + margin-top (20px) + bottm space (38px, accordingly to 
    "Konto / Wyloguj" buttons = 207px */
    min-height: calc(100% - 155px);

    margin: 20px;
    background-color: white;

}

/* Picture */
.content .word-photo {
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: auto;   
    margin-right: auto; 
}

.content .word-photo img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;

    transform: translateX(-50%) translateY(-50%);

    box-shadow: 0 0 5px 5px #0d0d0d;
}

/* Header above Translations */

.translations-header {
    position: relative;
    left: -20px;
    width: calc(100% + 30px);
    height: 32px;
    box-sizing: border-box;

    padding: 0 20px;
    margin: 10px 0;


    background-color: #A2A2A2;

    line-height: 32px;
    color: white;
    font-family: 'Open Sans Bold';
    font-size: 1.3em;
    letter-spacing: 3px;
}

.word-content.content-block .word-translation {
    padding-right: 40px;
}

.translations-header::before {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: inherit;

    z-index: -10;
    
    box-shadow: -6px 5px 5px rgba(0,0,0,0.65);
}

.translations-header .add-icon {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}


.translation-category .far.fa-trash-alt {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateX(50%) translateY(-50%);

    color: #0d0d0d;

    font-size: 1.2em;
    cursor: pointer;
}

/* Edit icon */

.editable:hover .fas.fa-pencil-alt.pencil-icon {
    display: block;
}

.fas.fa-pencil-alt.pencil-icon {
    display: none;

    position: absolute;
    top: 50%;
    right: 90px;
    font-size: 0.8em;
    transform: translateY(-50%) translateX(50%);
    cursor: pointer;
}

.word-translation .fas.fa-pencil-alt.pencil-icon {
    top: 50%;
    right: 0;

    color: #0d0d0d;
    font-size: 12px;
}