.tooltip {
    position: absolute;
    bottom: 0;
    right: -5px;

    transform: translateY(100%) translateY(8px);
    z-index: 3;

    opacity: 1;
    width: 150px;
    max-height: 50px;

    padding: 5px;

    transition: all 0.25s linear;

    background-color: #3e3939;
    border: 2px solid white;
    border-radius: 8px;

    line-height: initial;
    font-size: 10px;
    text-shadow: none;

    cursor: initial;
    box-shadow: 0 0 5px 0 #3e3939;

}

.tooltip::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid white;
    filter: drop-shadow(0px -2px 2px #3e39397d);
}

.tooltip .icons {
    float: right;
    padding: 5px 0px;
    font-size: 1.6em;
    letter-spacing: 10px;
}

.tooltip .icons > * {
    cursor: pointer;
    text-shadow: none;
}

.tooltip .icons > *:active {
    text-shadow: 0px 0px 1px white;
}

.tooltip.disabled {
    opacity: 0;
    max-height: 0px;
    z-index: -1;
}

.tooltip .tooltip-text {
    line-height: initial;
    font-family: 'Open Sans';

    text-transform: none;
    white-space: normal;
}
