
/* Word page */

.word-content.content-block {
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 10px;
  
    /* Top content margin (17px) + fixed top panel height (80px)
    + margin-top (20px) + bottm space (38px, accordingly to 
    "Konto / Wyloguj" buttons = 207px */
    min-height: calc(100% - 155px);
  
    margin: 20px;
    margin-top: 40px;
    
    background-color: white;
  
  }
  
